.bar {
    width: 100vw;
    height: 7.5vh;
    background-color: #585656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    align-self: center;
    margin: 0 1.5rem;
    cursor: default;

}
