.container{
    background-color: #dfe3e6;
    padding: 1px;
    border-radius: 3px;
    margin-top: 10px;
    
}

.card:hover{
    background-color: #c9cdd0;
}
.card{
    height: 30px;
    margin:5px ;
    text-align: start;
}
