.container{
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
    background-color: white;
}
.add{
    background-color: #5AAC44;
    color: #fff;
    margin-right: 5px;
}
.close{
    background-color: #ac4644;
    color: #fff;
    margin-right: 5px;
}
.btn{
    margin-top: 5px;
}

.add:hover{
    background-color:  #548c44;
}
.close:hover{
    background-color:  #f21612;
}